@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-background: #09090b; /* near black */
  --color-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;

  --color-border: #27272a;

  --color-card: #09090b;
  --color-card-foreground: #fafafa;
  
  --color-primary: #fafafa;
  --color-primary-foreground: #09090b;
  
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
